{% extends 'base.html' %}

{% block title %} Learni {% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4" style="width: 400px; border-radius: 15px;">
        <h2 class="text-center mb-4">Learni</h2>
        <form action="/auth/login/" method="post" id="loginForm">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3 position-relative">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" required>
                    <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <div class="form-text text-end">
                    <a href="/forgot_password/" class="text-decoration-none">Forgot your password?</a>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Sign in</button>
        </form>
        <div class="mt-3 text-center">
            <a href="/register/" class="text-decoration-none">Don't have an account? Sign up</a>
        </div>
    </div>
</div>


<!-- scripts -->
<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        const passwordField = document.getElementById('password');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            this.innerHTML = '<i class="bi bi-eye-slash"></i>';
        } 
        else {
            passwordField.type = 'password';
            this.innerHTML = '<i class="bi bi-eye"></i>';
        }
    });

    document.getElementById("loginForm").addEventListener("submit", async function (event) {
        event.preventDefault();
        const formData = new FormData(this);
        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });

        console.log(data)

        try {
            const response = await fetch('/auth/login/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if (response.redirected) {
                window.location.replace(response.url);
            } 
            else if (response.status == 401) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Invalid credentials',
                    text: 'Try again or sign up.',
                    position: "top",
                    timer: 3000,
                    timerProgressBar: true,
                    showConfirmButton: true,
                    width: '27em',
                });
            }
        } 
        catch (error) {}
})
</script>

<!-- Style section -->
<style>
    .input-group > button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .input-group > input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }   
</style>
{% endblock %}