{% extends 'base.html' %}

{% block title %} Learni {% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4" style="width: 400px; border-radius: 15px;">
        <h2 class="text-center mb-4">Learni</h2>
        <form action="#" method="post" id="changePasswordForm">
            <div class="mb-3 position-relative">
                <label for="password" class="form-label">New password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" required>
                    <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Change password</button>
        </form>
    </div>
</div>

<style>
</style>

<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        const passwordField = document.getElementById('password');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            this.innerHTML = '<i class="bi bi-eye-slash"></i>';
        } 
        else {
            passwordField.type = 'password';
            this.innerHTML = '<i class="bi bi-eye"></i>';
        }
    });

    document.getElementById('changePasswordForm').addEventListener('submit', async function (event) {
        event.preventDefault();
        
        try {
            let new_password = document.getElementById('password').value
            if (new_password) {
                let urlParams = new URLSearchParams(window.location.search);
                let user_email = urlParams.get('email');

                let response = await fetch("/set_new_password/", {
                    method: 'POST',
                    headers: {
                        "Content-type": "application/json"
                    },
                    body: JSON.stringify({
                        email: user_email,
                        password: new_password
                    })
                })

                if (response.status == 200) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Password changed',
                        position: "top",
                        timer: 2000,
                        width: '27em',
                    });
                    setTimeout(() => {
                        window.location.replace("/login/");
                    }, 2400);
                    
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Sorry, sommething went wrong',
                        position: "top",
                        timer: 2000,
                        width: '27em',
                    });
                }
            }
        }
        catch (error) {console.log(error)}
    }
)


</script>

{% endblock %}